[submodule "vendor/arrow"]
	path = vendor/arrow
	url = https://github.com/apache/arrow
[submodule "vendor/duckdb"]
	path = vendor/duckdb
	url = https://github.com/duckdb/duckdb
[submodule "vendor/cyredis"]
	path = vendor/cyredis
	url = https://github.com/Ugbot/CyRedis
[submodule "vendor/rocksdb"]
	path = vendor/rocksdb
	url = https://github.com/facebook/rocksdb.git
