[submodule "vendor/arrow"]
	path = vendor/arrow
	url = https://github.com/apache/arrow
[submodule "vendor/duckdb"]
	path = vendor/duckdb
	url = https://github.com/duckdb/duckdb
[submodule "vendor/cyredis"]
	path = vendor/cyredis
	url = https://github.com/Ugbot/CyRedis
[submodule "vendor/rocksdb"]
	path = vendor/rocksdb
	url = https://github.com/facebook/rocksdb.git
[submodule "vendor/postgresql/wal2json"]
	path = vendor/postgresql/wal2json
	url = https://github.com/eulerto/wal2json.git
[submodule "vendor/python-mysql-replication"]
	path = vendor/python-mysql-replication
	url = https://github.com/julien-duponchelle/python-mysql-replication.git
[submodule "MarbleDB/vendor/nuraft"]
	path = MarbleDB/vendor/nuraft
	url = https://github.com/eBay/NuRaft.git
[submodule "vendor/kuzu"]
	path = vendor/kuzu
	url = https://github.com/kuzudb/kuzu.git
[submodule "benchmarks/rdf_benchmarks/KROWN"]
	path = benchmarks/rdf_benchmarks/KROWN
	url = https://github.com/kg-construct/KROWN
[submodule "vendor/rdflib"]
	path = vendor/rdflib
	url = https://github.com/RDFLib/rdflib
[submodule "vendor/qlever"]
	path = vendor/qlever
	url = https://github.com/ad-freiburg/qlever
[submodule "vendor/librdkafka"]
	path = vendor/librdkafka
	url = https://github.com/confluentinc/librdkafka.git
[submodule "vendor/proton"]
	path = vendor/proton
	url = https://github.com/timeplus-io/proton
[submodule "sabot_ql/tests/rdf-tests"]
	path = sabot_ql/tests/rdf-tests
	url = https://github.com/w3c/rdf-tests.git
